@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&family=Playfair+Display:wght@500;600&family=Raleway:wght@400;500;600&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,500;1,500&display=swap');
*
{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
.navbar{
    padding: 10px;
    overflow: hidden;
}
.navbar a{
    float: right;
    display: block;
    margin: 0 25px ;
    text-decoration: none;
}
.container{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(13, 13, 13);
    /* background-image: url(./img/download.jpg); */
}
    /* Description */
.description{
    background-color: none;
    background-size: auto;
    background-position: top center;
    position: relative;
}
.description #description{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
    justify-content: flex-start;
}
.description h1{
    font-size: 2.5rem;
    color:transparent;
    display: block;
    width: fit-content;
    position: relative;
    animation: text_reveal .5s ease forwards;
    animation-delay: 1.5s;
}
.description h1:nth-child(1){
    animation-delay: 1s;
    font-size: 30px;
}
.description h1:nth-child(2){
    animation-delay: 2s;
}
.description h1:nth-child(3){
    animation: text_reveal_name .5s ease forwards;
    animation-delay: 3s;
}
.description h1 span{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100% ;
    nav-down: auto;
    background-color: rgb(137, 180, 190);
    animation: text_reveal_box 1s ease-in;
    animation-delay: 1s;
}
    /* End Description */

    /*keyframes */
@keyframes text_reveal_box {
    50%{
        width: 100%;
        left: 0 ;
        }
    100%{
        width: 0;
        left: 100% ;
        }
}
@keyframes text_reveal{
    100%{
        color: aliceblue;
    }
}
@keyframes text_reveal_name{
    100%{
        color: rgb(137, 180, 190);
    }
}
    /* end keyframe */
.about{
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20vh;
    text-align: center;
}
.skills{
    min-height: 100vh;
    text-align: center;
    justify-content: center;
    padding: 20vh;
}
.skills ul{
    display: inline-flex;
    list-style: none;
    padding: 10vh;
}
.skills ul li{
    width: 100px;
    margin: 10px;
    padding: 20px;
    border: 10px, solid, black;
    background-color: rgb(137, 180, 190);
}
.projects{
    display: flex;
    justify-content: center;
    padding: 20vh;
    text-align: center;
}
.contact{
    padding: 20vh;
}
.contact ul{
    display: inline-flex;
    list-style: georgian;
}
.contact ul li{
    margin-right: 10vh;
}
