@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&family=Playfair+Display:wght@500;600&family=Raleway:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Merriweather:ital,wght@0,400;1,900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
*
{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
#heading{
    font-family: cursive;
    color: aliceblue;
    font-size: 1.5em;
    padding: 2px;
    margin-left: 30px;
}
#heading span{
    animation: text_reveal_name .5s ease forwards;
}
.navbar{
    padding: 0 10px;
    overflow: hidden;
    background-color: black;
}
.navbar a{
    float: right;
    align-items: center;
    display: block;
    margin: 0 40px ;
    color: aliceblue;
    margin-top: -15px;
    text-decoration: none;
}
.navbar a:hover{
    background-color: #aed9e6;
    padding: 5px 10px;
    border-radius: 10px;
    margin-top: -20px;
}
.container{
    min-height: 100vh;
    display: flex;
    background-color: rgb(13, 13, 13);
    background-image: url(./img/wp4715915-pink-and-black-aesthetic-laptop-wallpapers.jpg);
    background-position: center;
    /*  */
}
    /* Description */
.description{
    margin: auto;
    position: relative;
    float: left;
    font-family: 'Playfair Display';
}
.description #description{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
    justify-content: flex-start;
}
.description h1{
    font-size: 2.5rem;
    color:transparent;
    display: block;
    width: fit-content;
    position: relative;
    animation: text_reveal .5s ease forwards;
    animation-delay: 1.5s;
}
.description h1:nth-child(1){
    animation-delay: 2s;
    font-size: 30px;
}
.description h1:nth-child(2){
    animation: text_reveal_name 2.5s ease forwards;
    animation-delay: 2s;
    font-size: 80px;
}
.description h3{
    animation: text_reveal 3.5s ease forwards;
    animation-delay: 3s;
}
.description h1 span{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100% ;
    nav-down: auto;
    background-color: rgb(137, 180, 190);
    animation: text_reveal_box 2s ease-in;
    animation-delay: 1s;
}
    /* End Description */

    /*keyframes */
@keyframes text_reveal_box {
    50%{
        width: 100%;
        left: 0 ;
        }
    100%{
        width: 0;
        left: 100% ;
        }
}
@keyframes text_reveal{
    100%{
        color: aliceblue;
    }
}
@keyframes text_reveal_name{
    100%{
        color: rgb(137, 180, 190);
    }
}
    /* end keyframe */
.about{
    min-height: 105vh;
    padding: 100px 0;
    font-weight: 400px;
    background-color: #000200;
}
.about img{
    height: auto;
    width: 300px;
}
.about-me{
    width: 550px;
    color: aliceblue;
    word-spacing: 1px;
}
.about-me h2{
    font-family: 'Alkatra';
    font-size: 50px;
    padding-bottom: 20px;
}
.about-me h2 span{
    color: rgb(137, 180, 190);
}
.about-me p{
    font-size: 20px;
    font-family: 'Alkatra';
    letter-spacing: 1px;
}
.about-me ul{
    list-style-position: inside;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-me ul li{
    font-size: 20px;
    font-family: 'Josefin Sans';
    padding: 30px;
    color: rgb(137, 180, 190);
}
.about-content{
    width: 1200px;
    max-width: 100%;
    margin: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.myprojects{
    background:#e6f9ff;
    min-height: 105vh;
    padding: 100px 0;
}
.myprojects h2{
    font-family: 'Alkatra';
    font-size: 70px;
    margin: auto;
    margin-bottom: 40px;
    text-align: center;
}
#projects{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 500px;
}
.project-card{
    background: #aed9e6;
    font-family: 'Merriweather';
    width: 350px;
    height: 420px;
    margin: 50px;
    padding: 20px;
    overflow: hidden;
    border-radius: 15px;
    text-align: center;
}
.project-card h3{
    color: #05141f;
    font-family: 'Alkatra';
}
.project-info{
    font-size: 12px;
    line-height: 30px;
}
.project-info p{
    margin-bottom: 20px;
}
.project-info .button{
    text-align: center;
    text-decoration: none;
    background-color: #000200;
    border: 2px solid transparent;
    border-radius: 30px;
    color: #fff;
    padding: 10px 15px;
    transition: .8s;
}
.project-info .button:hover{
    background-color: #fff;
    color: #000200;
    border: 2px solid #05141f;
    cursor: pointer;
}
.contact{
    width: 100%;
    height: 250px;
    background: #05141f;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
