@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&family=Playfair+Display:wght@500;600&family=Raleway:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Merriweather:ital,wght@0,400;1,900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
*
{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    min-height: 100vh;
    background-color: rgb(13, 13, 13);
    background-image: url(./img/wp4715915-pink-and-black-aesthetic-laptop-wallpapers.jpg);
    background-position: center;
    /*  */
}
#heading{
    font-family: cursive;
    color: aliceblue;
    font-size: 1.5em;
    padding: 30px;
}
#heading span{
    animation: text_reveal_name .5s ease forwards;
}
nav{
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 10px;
}
nav a{
    float: right;
    align-items: center;
    display: block;
    padding: 20px;
    color: aliceblue;
    text-decoration: none;
}
nav a:hover{
    background-color: #8ad4ea;
    color: #000200;
    padding: 5px 10px;
    border-radius: 10px;
}
    /* Description */
.description{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-shrink: 0;
    margin: 15%;
    font-family: 'Playfair Display';
}
.description h1{
    font-size: 2.5rem;
    color:transparent;
    width: fit-content;
    position: relative;
    animation: text_reveal .5s ease forwards;
    animation-delay: 1.5s;
}
.description h1:nth-child(1){
    animation-delay: 2.5s;
    font-size: 30px;
}
.description h1:nth-child(2){
    animation: text_reveal_name 3s ease forwards;
    animation-delay: 2.5s;
    font-size: 80px;
}
.description h3{
    animation: text_reveal 3.5s ease forwards;
    animation-delay: 3s;
}
.description h1 span{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100% ;
    nav-down: auto;
    background-color: rgba(52, 173, 200, 0.678);
    animation: text_reveal_box 2s ease-in;
    animation-delay: 1s;
}
    /* End Description */

    /*keyframes */
@keyframes text_reveal_box {
    50%{
        width: 100%;
        left: 0 ;
        }
    100%{
        width: 0;
        left: 100% ;
        }
}
@keyframes text_reveal{
    100%{
        color: rgba(240, 248, 255, 0.996);
    }
}
@keyframes text_reveal_name{
    100%{
        color: #2bd0f5;
    }
}
    /* end keyframe */
.about{
    min-height: 105vh;
    padding: 100px 0;
    font-weight: 400px;
    background-color: #000200;
}
.about img{
    height: auto;
    width: 300px;
    border: 2px solid #2bd0f5;
}
.about-me{
    width: 550px;
    color: aliceblue;
    word-spacing: 1px;
}
.about-me h2{
    font-family: 'Alkatra';
    font-size: 50px;
    padding-bottom: 20px;
}
.about-me h2 span{
    color: #2bd0f5;
}
.about-me p{
    font-size: 20px;
    font-family: 'Alkatra';
    letter-spacing: 1px;
}
.about-me ul{
    list-style-position: inside;
    display: flex;
    align-content: space-evenly;
    flex-wrap: wrap;
    gap: 2em;
}
.about-me ul li{
    font-size: 20px;
    font-family: 'Josefin Sans';
    color: #57c9e3;
}
.about-content{
    width: 1200px;
    max-width: 100%;
    margin: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.myprojects{
    background:#e6f9ff;
    min-height: 105vh;
    padding: 100px 0;
}
.myprojects h2{
    font-family: 'Alkatra';
    font-size: 70px;
    margin: auto;
    margin-bottom: 40px;
    text-align: center;
}
#projects{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 500px;
}
.project-card{
    background: #aed9e6;
    font-family: 'Merriweather';
    width: 350px;
    height: 420px;
    margin: 50px;
    padding: 20px;
    overflow: hidden;
    border-radius: 15px;
    text-align: center;
}
.project-card h3{
    color: #05141f;
    font-family: 'Alkatra';
}
.project-info{
    font-size: 12px;
    line-height: 30px;
}
.project-info p{
    margin-bottom: 20px;
}
.project-info .button{
    text-align: center;
    text-decoration: none;
    background-color: #000200;
    border: 2px solid transparent;
    border-radius: 30px;
    color: #fff;
    padding: 10px 15px;
    transition: .8s;
}
.project-info .button:hover{
    background-color: #fff;
    color: #000200;
    border: 2px solid #05141f;
    cursor: pointer;
}
.contact-info{
    width: 100%;
    height: 150px;
    background: #05141f;
    color: #2bd0f5;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.contact-info h2{
    font-family: 'Josefin Sans';
    font-size: 40px;
    margin: 40px;
    text-align: left;
}
.contact-col{
    width: 350px;
    height: 150px;
    margin: 0px;
    padding: 20px;
    overflow: hidden;
}
.contact-col h4{
    color: #e6f9ff;
    margin-bottom: 20px;
    font-size: 20px;
    text-decoration: underline;
}
.contact-col a{
    text-decoration: none;
    color:#fff ;
    display: inline-flex;
    margin-right: 10px;
}
.contact-col a i{
    margin-right: 5px;
}
footer{
    background: #05141f;
    color: #e6f9ff;
    font-family: 'Josefin Sans';
    padding: 0px 50px;
    margin-top: -10px;
    margin-bottom: 5px;
    font-size: 12px;
}
/* responsive media queries */
@media screen and (max-width: 800px){
    .description{
        margin-top: 30vh;
        align-items: center;
        justify-content: center;
    }
    .description h1:nth-child(1){
        font-size: 25px;
    }
    .description h1:nth-child(2){
        font-size: 60px;
    }
    .about-content{
        width: 1200px;
        max-width: 100%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .about-me{
        width: 350px;
    }
    .about-me h2{
        padding-top: 10px;
    }
    .myprojects{
        background:#e6f9ff;
        min-height: 105vh;
        padding: 100px 0;
        margin: auto;
    }
    #projects{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        min-height: 500px;
    }
    .contact-info{
        flex-direction: column;
        height: 450px;
    }
    .contact-info h2{
        margin-bottom: 20px;
    }
    .contact-col{
        padding: 10px;
        height: 100px;
        margin-bottom: 20px;
    }
}